# Lesson 1
Lesson 1 covers the basic use of Data Types, basic operations, and variables

#### Exercises

Throughout the notebook there will be section with `# TODO`, These are exercises for you to test your knowledge

Answers 

Anwsers can be found in the answers files, try to only check the answers if you are stuck or want to check your work. Also keep in mind that there are usually many ways to achieve the same result. If you are passing the test, but your code it not exactly the same as mine, that doesn't mean your solution is wrong

Tests

Some exercises my have test cases, these are for you to test your code as you are working, try to only look at the answer if you are passing all of the test cases.

### Part 1: Data Types
Data types the most basic units that you will act on, these are representations of the most common concepts that we use in coding, like numbers, text, and lists

In [21]:
# Integers or int are whole numbers, positive or negative, without decimals, of unlimited length.
2

2

In [22]:
# Floats or float are real numbers with a decimal point dividing the integer and fractional parts.
3.14

3.14

In [20]:
# Strings or str are sequences of characters, enclosed within single or double quotes.
"Hello, World!"

'Hello, World!'

In [19]:
# Lists or list are ordered sequences of items. They are able to be modified (mutable) and can contain mixed data types.
# List of integers
[1, 2, 3]

# List of strings
["apple", "banana", "cherry"]

# List of mixed data types
[1, "apple", 3.14]

[1, 'apple', 3.14]

In [18]:
# Dictionaries or dict are unordered collections of items. While other compound data types have only value as an element, a dictionary has a key: value pair.
# Dictionary of strings
{"name": "John", "age": 30}
# The key "name" has the value "John" and the key "age" has the value 30.

{'name': 'John', 'age': 30}

In [17]:
# Tuples or tuple are ordered sequences of items, just like lists. The only difference is that tuples cannot be changed (immutable) once declared.
# Tuple of integers
(1, 2, 3)

(1, 2, 3)

In [16]:
# Set or set is an unordered collection data type that is mutable and has no duplicate elements.

# Set of integers
{1, 2, 3, 3, 3}

{1, 2, 3}


### Part 2: Basic Operations
Operations are the basic ways that we can combine and edit the above data types

#### Adding

In [6]:
# Adding two integers
2 + 2

4

In [5]:
# Adding two floats
3.14 + 2.1

5.24

In [4]:
# Adding two strings
"Hello, " + "World!"

'Hello, World!'

In [3]:
# Adding two lists
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [14]:
# Dictionaries cannot be added together using the "+" operator.

{1: "apple"} + {2: "banana"}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [2]:
# Adding two tuples
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [24]:
# Sets cannot be added together using the "+" operator.
{1, 2, 3} + {4, 5, 6}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [9]:
# You can't add different data types (except for int and float)
# Adding an integer and a string
2 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### Subtracting

In [ ]:
# Subtracting two integers
5 - 2

In [ ]:
# Subtracting two floats
3.14 - 2.1

In [25]:
# Subtracting two sets
{1, 2, 3} - {2, 3}

{1}

In [11]:
# You cannot subtract two lists, tuples, or strings.

# Subtracting two strings
"Hello, World!" - "World!"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

#### Multiplication

In [ ]:
# Multiplying two integers
2 * 3

In [ ]:
# Multiplying two floats
3.14 * 2.1

In [12]:
# Multiplying a string by an integer
"Hello, " * 3

'Hello, Hello, Hello, '

In [15]:
# Multiplying a list by an integer
[1, 2, 3] * 2

[1, 2, 3, 1, 2, 3]

In [23]:
# Multiplying a tuple by an integer
(1, 2, 3) * 2

(1, 2, 3, 1, 2, 3)

#### Division

In [31]:
# Dividing two integers
5 / 2

2.5

In [33]:
4 / 2
# Dividing integers will always result in a float.

2.0

In [35]:
# To perform floor division and get an integer result (discarding any fractional result) you can use the // operator.
5 // 2
# This is 2 because it discards the remainder or 1.

2

In [32]:
# Dividing two floats
3.14 / 2.1

1.4952380952380953

#### Exponentiation

In [28]:
# Exponentiation
2 ** 3

8

#### Modulus

In [29]:
# Modulus is the remainder of the division of the first operand by the second.
5 % 2
# This is 1 because 5 divided by 2 equals 2 with a remainder of 1.

1

### Part 3: Variables
Variables are one of the most fundamental concepts in programming. They act in much the same way they do in math, a representation of some other concept

In [37]:
# Variables are containers for storing data values.
x = 2
y = 3
z = x + y

# print() is a function that prints the specified message to the screen, or other standard output device.
print(x)
print(y)
print(z)

2
3
5

In [38]:
# Variables can be reassigned as many times as you want.
x = 5
print(x)
x = "Hello, World!"
print(x)

5
Hello, World!

In [39]:
# Make sure that you initialize a variable before you use it.

print(a)

NameError: name 'a' is not defined

In [40]:
a = "Make sure to initialize a variable before you use it."
print(a)

Make sure to initialize a variable before you use it.

In [79]:
# TODO Exercise 1: Create a variable named "name" and assign it the value "John".

In [80]:
# TEST
if name == "John":
    print("Great! You have successfully created the name variable.")
else:
    print("Oops! Something went wrong. Please check your code.")

In [ ]:
# TODO Exercise 2: Create a variable named "age" and assign it the value 30.

In [ ]:
# TEST
if age == 30:
    print("Great! You have successfully created the age variable.")
else:
    print("Oops! Something went wrong. Please check your code.")

In [85]:
# TODO Create a variable named shopping_list and assign it a list of three items: "apple", "banana", and "cherry".
# It is good practice to use descriptive variable names to make your code more readable. also use snake_case for variable names.
# snake_case is the practice of writing compound words or phrases in which the elements are separated with one underscore character (_) and no spaces, with each element's initial letter usually lowercased within the compound and the first letter either upper or lower case.

In [ ]:
# TEST
if shopping_list == ["apple", "banana", "cherry"]:
    print("Great! You have successfully created the shopping list.")
else:
    print("Oops! Something went wrong. Please check your code.")

### Part 4: More on Lists

In [69]:
# Earlier we learned what lists are, how to create them, and how to access their elements. Now we will learn how to modify lists.
example_list = [1, 2, 3, 4, 5]
# You can access an element of a list by using its index. The index of the first element is 0, the index of the second element is 1, and so on.
# Use the square brackets [] to access an element of a list.
print(example_list[0])
print(example_list[1])

1
2

In [70]:
# You can also access elements from the end of the list using negative indices.
print(example_list[-1])

5

In [71]:
# To access a range of elements, you can use the slicing operator ":".
# The slicing operator ":" returns a new list containing the requested elements.

# Access the first three elements
print(example_list[0:3])
# Note that the end index is not included in the result.

[1, 2, 3]

In [72]:
# You can also omit the start or end index.

# Access the first three elements
print(example_list[:3])

# Access the last three elements
print(example_list[-3:])

[1, 2, 3]
[3, 4, 5]

In [73]:
# To modify an element of a list, you can use its index.
example_list[0] = 10
print(example_list)
# Fixing the change made above
example_list[0] = 1

[10, 2, 3, 4, 5]

In [74]:
# To add an element to the end of a list, you can use the append() method.
example_list.append(6)
print(example_list)

[1, 2, 3, 4, 5, 6]

In [75]:
# Or you can use the "+" operator to concatenate two lists.
example_list = example_list + [7]
print(example_list)

[1, 2, 3, 4, 5, 6, 7]

In [76]:
# To insert an element at a specific index, you can use the insert() method.
example_list.insert(1, 0)
print(example_list)

[1, 0, 2, 3, 4, 5, 6, 7]

In [77]:
# To remove an element from a list, you can use the remove() method.
example_list.remove(0)
print(example_list)

[1, 2, 3, 4, 5, 6, 7]

In [78]:
# To remove an element at a specific index and get the value at that index, you can use the pop() method.
value = example_list.pop(-1)
print(value)
print(example_list)

7
[1, 2, 3, 4, 5, 6]

In [90]:
# To find the index of an element in a list, you can use the index() method.
index = example_list.index(3)
print(example_list)
print(index)
print(example_list[index])

[1, 2, 3, 4, 5, 6]
2
3

In [ ]:
# TODO Exercise 4: Add the item "orange" to the shopping_list.
shipping_list = ["apple", "banana", "cherry"]

In [ ]:
# TEST
if shopping_list[-1] == "orange":
    print("Great! You have successfully added the item to the shopping list.")
else:
    print("Oops! Something went wrong. Please check your code.")

In [ ]:
# TODO Exercise 5: Remove the item "banana" from the shopping_list.

In [ ]:
if 'banana' in shopping_list:
    print("Great! You have successfully removed the item from the shopping list.")
else:
    print("Oops! Something went wrong. Please check your code.")

In [ ]:
# TODO Exercise 6: Replace the item "cherry" with "grape" in the shopping_list.
shopping_list = ["apple", "banana", "cherry"]

In [ ]:
if shopping_list[2] == "grape":
    print("Great! You have successfully replaced the item in the shopping list.")
else:
    print("Oops! Something went wrong. Please check your code.")

In [91]:
# TODO Exercise 7: Fill the given variables with the values that would be required for a slice that returns all the values in a list except the last value.
starting_index = # FILL IN THE BLANK
ending_index = # FILL IN THE BLANK

In [ ]:
test_list = [1, 2, 3, 4, 5]
if test_list[starting_index:ending_index] == [1, 2, 3, 4] and ending_index != 4:
    print("Great! You have successfully created the slice.")
else:
    print("Oops! Something went wrong. Please check your code.")

In [ ]:
# TODO Exercise 8: Find the index of the item "banana" in the shopping_list.
shopping_list = ["apple", "banana", "cherry"]
index = # FILL IN THE BLANK

In [ ]:
if index == 1:
    print("Great! You have successfully found the index of the item in the shopping list.")
else:
    print("Oops! Something went wrong. Please check your code.")

### Part 4: More on Dictionaries

### Part 4: More on Tuples and sets